
.muthrfknborder {
  height: 10px:
  width: 100%;
  border-top: 2px dashed lightgrey;

  @media @mobile {
    width: 100%;
  }
}


.home {


  .header {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center; 
  
    .headertittle{
      margin-top:15px;
      align-self: flex-start;
    }

    @media @mobile {
      margin-left: 10px;
      margin-right: 10px;
      
    }

  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 85%;
        margin-left: 10px;
        margin-right: 10px;
        
      }
  
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 85%;
        margin-left: 10px;
        margin-right: 10px;
        
      }

      img {
        border-radius: 10px;
      }
    }

    
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    
    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      display: flex;
      flex-direction: column-reverse;
      width: 90%;
      height: 90%;
      align-items: center;
      text-align: left;
      margin-left: 10px;
      margin-right: 10px;
      
    }


    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
      width: 90%;
      
    }

    }
  }
// home
.btn {
  .buttonmix (center, center, #008060, white, 10px, 1.7rem, 200px, 40px);
}

}
